<!-- <header>
  <div class="logo">
    <img src="assets/img/png/logo.png" priority  alt="Logo AMA - Fontis di Tabanka" [width]="70" [height]="70"   >

  </div>
  <div class="menu-right">
    <a href="/">Home</a>
    <a href="#">Sobre nós</a>
    <a href="#">Acompanhe
    </a>
    <a href="#">Transparência</a>
    <a href="#">Colaboradores</a>
    <a href="#">Fale conosco</a>
  </div>
</header> -->

<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/img/png/logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre nós</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Acompanhe
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-disabled="true">Disabled</a>
        </li>
      </ul>

    </div>
  </div>

</nav>
 -->
 <header class="navbar navbar-expand-lg navbar-light bg-white  py-3">
  <div class="container px-5">
      <!-- <a class="navbar-brand" href="index.html"><span class="fw-bolder text-primary">Start Bootstrap</span></a> -->
      <a class="navbar-brand" href="/">
        <img src="assets/img/png/logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="/">Sobre nós</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link text-color dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Acompanhe
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item nav-link" href="#">Projetos</a></li>
                  <li><a class="dropdown-item nav-link" href="#">Área de atuação</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item nav-link" href="#">Comunidades</a></li>
                </ul>
              <li class="nav-item dropdown">
                <a class="nav-link text-color dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Transparência
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item nav-link" href="#">Estatuto</a></li>
                  <li><a class="dropdown-item nav-link" href="#">Financiamentos</a></li>
                  <!-- <li><hr class="dropdown-divider"></li> -->
                  <li><a class="dropdown-item nav-link" href="#">Prestação de contas</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="/">Fale conosco</a></li>
          </ul>
      </div>
  </div>
<!-- </nav> -->
</header>
