/* main {
  padding: 40px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;

} */
.main-class {
  margin-top: 70px;
  padding: 100px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  gap: 54px;
  /* flex-wrap: wrap-reverse; */
  flex-direction: row;
}
/* .main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 54px;
  padding: 0 40px;
  color: var(--alternative-text-color);


  }
 */
  .section-left-div {
    padding: 20px;
    max-width: 80%;
    margin:  0 auto;

    .border-bottom {
      width: 100%;
      height: 5px;
      display: flex;
      //background-color: var(--primary-text-color);

    }

    h1 {
      color: var(--primary-text-color);
      font-size: 38px;
      font-weight: 900;
      padding-bottom: 10px;

    }
    p {
      text-justify: auto;
      color: var(--secondary-text-color);
      padding-top: 10px;

    }
  }
  .section-right-div {
    padding: 30px;

    img {
      border-radius: 10px;
    }

  }

.after-main {
  display: flex;
  justify-content: center;
  align-items:center;
  width: auto;
  height: 400px;
  background-color: var(--secondary-text-color)
}


/* @media  (min-width: 1080px) {
  .main-section  {
    flex-direction: row;
  }
} */

.nav-link  {
  color: var(--primary-text-color);
}

.text-color  {
  color: var(--primary-text-color);
}

