<footer>
  <div class="top-div">
    <p><strong>AMA</strong> - Fontis di Tabanka</p>
    <span>Feito com
      <img class="icon red v-middle" src="assets/img/svg/favorite.svg">
      <strong><span class="red"></span> WY Soft Ltda.</strong>
    </span>
    <span class="copyright">&copy;{{data}} - Todos os direitos reservados</span>
  </div>
  <div class="bottom-div">
    <a href="javascript:void()">
      <img class="icon" src="assets/img/svg/youtube.svg" alt="ícone youtube">
    </a>
    <a href="javascript:void()" (click)="goToUrl('https://www.facebook.com/profile.php?id=61556014755970')" >
      <img class="icon" src="assets/img/svg/facebook.svg" alt="ícone facebook">
    </a>
    <a href="javascript:void()" >
      <img class="icon" src="assets/img/svg/instagram.svg" alt="ícone instagram" >
    </a>
  </div>
</footer>
